<!DOCTYPE html>
<html>
<head>
    <title>Dinnder</title>
    <!-- Local -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- 3rd party -->
</head>
<body>
    <div>
        <%- body %>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>